<div class="posts">
    <ul>
        {{#each posts as |post|}}
        <li>
            <div class="h2">
                {{post.title}}
            </div>
            <div>
                {{post.body}}
            </div>
            <div class="row justify-between">
                <div class="col-9">
                    {{post.userId}}
                </div>
                <div class="col-2">
                    last updated {{post.updatedAt}}
                </div>
            </div>
        </li>
        {{/each}}
    </ul>
</div>